@value hover-color from '../../variables/variables.module.css';

.contactsWrapper {
  width: 100%;
  text-align: center;
}

a.contactsLink {
  display: block;
  border-radius: 20px;
  margin-bottom: 3rem;
  height: 3rem;
}

a.contactsLink:last-child {
  margin-right: 0px;
}

a.contactsLink:hover {
  fill: hover-color;
}

.iconImg {
  display: inline-block;
  width: 3rem;
  height: 3rem;
}
